<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/frontend/overview.html">Overview</a></td>
        <td><a href="{{site.baseurl}}/frontend/binary.html">Binary</a></td>
        <td><a href="{{site.baseurl}}/frontend/graph.html">Graph</a></td>
        <td><a href="{{site.baseurl}}/frontend/life.html">Life</a></td>
        <td><a href="{{site.baseurl}}/frontend/snake.html">Snake</a></td>
    </tr>
</table>