/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   
@import "minima/dark-mode";   


/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// STYLING FOR CALCULATOR
// mixin used as a template for buttons
@mixin button {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #21807c;
    border: 3px solid black;
    font-size: 1.5em;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    grid-column: span 1;
    grid-row: span 1;
  
    // Creates smooth animation effect
    transition: all 0.5s; 
  }
  
  /* class to create the calculator's container; uses CSS grid dsiplay to partition off buttons */
  .calculator-container { 
    width: 90vw; /* this width and height is specified for mobile devices by default */
    height: 80vh;
    margin: 0 auto;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* fr is a special unit; learn more here: https://css-tricks.com/introduction-fr-css-unit/  */
    grid-template-rows: 0.5fr repeat(4, 1fr);
    gap: 10px 10px;
  }
  
  @media (min-width: 600px) { 
    .calculator-container {
        width: 40vw;
        height: 80vh;
    }
  }
  
  /* styling for the calculator buttons themselves */
  .button {
    @include button;
  }
  
  /* styling for the calculator clear button */
  .calculator-button-clear {
    @extend .button;
    background-color: #e68b1c;
  }
  
  /* styling for the calculator equals button */
  .calculator-button-equals {
    @extend .button;
    background-color: #e70f0f;
  }
  
  /* darkens the background color on hover to create a selecting effect */
  .button:hover {
    background-color: #373737;
  }
  
  .calculator-button-clear:hover {
    background-color: #534b40;
  }
  
  .calculator-button-equals:hover {
    background-color: #533e3e;
  }
  
  /* styling for the top bar which shows the results of the calculator */
  .calculator-output {
    /* note how the output instead takes up 4 columns and 1 row; essentially takes up the entirety of the first row */
    grid-column: span 4;
    grid-row: span 1;
  
    border-radius: 10px;
    padding: 0.25em;
    font-size: 20px;
    border: 5px solid black;
  
    display: flex;
    align-items: center;
  }


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 16.66%;
    padding: 3px;
  }

